# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore zsh
.zsh_history

# Ignore neovim
*.swp
*.swo
*.un~
*.bak
lazy-lock.json

# Ignore tmux
.tmux.conf.local
.tmux.conf.bak

# Ignore WezTerm
wezterm.lua.bak

#Ignore superfile
/superfile/theme

# Ignore zsh completion dump caches (generated)
.zcompdump*
